<div class="dashboard">
  <div class="dashboard-info">
    <div class="wrap">
        <h4 class="heading heading5 hind-font medium-font-weight dashboard-info__title">Different brands
        <svg
          class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
          </path>
        </svg>
      </h4>
      <span class="hind-font caption-12 dashboard-info__count">+120</span>
    </div>
  </div>
  <div class="dashboard-info">
    <div class="wrap">
      <h4 class="heading heading5 hind-font medium-font-weight dashboard-info__title">Client satisfaction
        <svg
          class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
          </path>
        </svg>
      </h4>
      <span class="hind-font caption-12 dashboard-info__count">4.5/5</span>
    </div>
  </div>
  <div class="dashboard-info">
    <div class="wrap">
      <h4 class="heading heading5 hind-font medium-font-weight dashboard-info__title">Stores around the world
        <svg
          class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
          </path>
        </svg>
      </h4>
      <span class="hind-font caption-12 dashboard-info__count">32</span>
    </div>
  </div>
  <div class="dashboard-info">
    <div class="wrap">
      <h4 class="heading heading5 hind-font medium-font-weight dashboard-info__title">Delivery in less than
        <svg
          class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
          </path>
        </svg>
      </h4>
      <span class="hind-font caption-12 dashboard-info__count">4 days</span>
    </div>
  </div>
</div>
